* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  color: #263238;
}
.hidden {
  display: none !important;
}
.main {
  position: relative;
  margin-bottom: 250px;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  max-width: 699px;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  margin-top: 150px;
}
.container-btn {
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  background: radial-gradient(
    87.68% 100% at 50.19% 100%,
    #0084ff 0%,
    #5cb0ff 100%
  );
  border-radius: 81px;
  cursor: pointer;
}
.container-svg {
  position: absolute;
  top: 23%;
  left: 308px;
  max-width: 100%;
}
.cards {
  display: flex;
  margin-top: 60px;
}
.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
  border-radius: 25px;
  padding: 60px 30px;
}
.container-card:not(:last-child) {
  margin-right: 30px;
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-top: 15px;
}
.subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.prom-svg {
  position: absolute;
  left: 689px;
  top: 41px;
}
.prom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 60px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
  border-radius: 25px;
  max-width: 270px;
  padding: 60px 30px;
}
.prom-card:not(:last-child) {
  margin-right: 30px;
}
.actual-card {
  display: flex;
  flex-direction: row;
  padding: 60px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 48, 92, 0.1);
  border-radius: 25px;
}
.actual-card-subtitle {
  text-align: start;
}
.actual-card:not(:last-child) {
  margin-right: 30px;
}
.bonus-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.bonus-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 525px;
  margin-top: 60px;
}
.bonus-card:nth-last-child(even) {
  margin-right: 120px;
}
.bonus-card-text {
  margin-left: 38px;
}
.bonus-card-subtitle {
  text-align: start;
}
.footer {
  max-width: 970px;
  display: flex;
  flex-direction: row;
}
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 470px;
  margin-left: 52px;
}
.footer-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background: radial-gradient(
    87.68% 100% at 50.19% 100%,
    #0084ff 0%,
    #5cb0ff 100%
  );
  box-shadow: 0px 10px 10px rgba(0, 48, 92, 0.1);
  border-radius: 81px;
  border: none;
  padding: 30px 60px;
  margin-top: 15px;
  cursor: pointer;
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  max-width: 592px;
  width: 100%;
  height: 545px;
  max-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 71px 57px;
  border: 1px solid #000;
}
.modal-title {
  padding: 0;
  color: #0084ff;
  font-weight: 500;
}
.modal__descr {
  padding: 0;
  text-align: center;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-input {
  padding: 10px;
  margin-top: 15px;
}
.modal-buttons {
  display: flex;
  margin-top: 30px;
}
.modal__button {
  margin-left: 320px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  background: radial-gradient(
    87.68% 100% at 50.19% 100%,
    #0084ff 0%,
    #5cb0ff 100%
  );
  border-radius: 81px;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}
@media (max-width: 768px) {
  .main {
    max-width: 728px;
    margin-bottom: 150px;
  }
  .cards {
    margin-top: 40px;
  }
  .main-title {
    max-width: 728px;
  }
  .container-card {
    max-width: 229px;
  }
  .container-card:not(:last-child) {
    margin-right: 20px;
  }
}
